#listMovie {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;              /* Transforma a div numa tabela */
    table-layout: fixed;         /* Utiliza o algoritmo de uma table fixed */
    border-collapse: separate;   /* Colapsa a tabela para poder adicionar o espaçamento */
    border-spacing: 5px 0px;     /* Adiciona o espaçamento */

    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));

    margin-block-end: 120px;
}

/* Cria uma lista horizontal com espaçamento */
.cardMovie {
    display: table-cell;
    /*background: #2f3036;*/
}

/* Estilo para os links dos botões */
.cardMovie a {
    display:grid;    
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;

    transition: transform .3s;
}

.cardMovie a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
}

.cardMovie a > img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;

    -webkit-box-shadow: 9px 7px 5px rgba(240, 94, 10, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(240, 94, 10, 0.77);
    box-shadow:         9px 7px 5px rgba(240, 94, 10, 0.77);
}

.cardMovie a > figure > img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

figure {
    float: right;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    line-height: 18px;
  }
  
  figcaption > p {
    color: orange;
    line-height: 15px;
  }