<main>
    <div class="filme-principal">
        <div class="container">
            <h3 class="titulo">HOUSE OF CARDS</h3>
            <p class="descricao">Nada pode impedir o político sem escrúpulos Frank Underwood de conquistar Washington. Assista agora a nova temporada de House of Cards que está imperdível.</p>
            <div class="botoes">
                <button role="button" class="botao">
                    <i class="fas fa-play"></i>
                    ASSISTIR AGORA
                </button>
                <button role="button" class="botao">
                    <i class="fas fa-info-circle"></i>
                    MAIS INFORMAÇÕES
                </button>
            </div>
        </div>
    </div>
</main>

<div class="carrosel-filmes">
<div class="container">
    <div class="row">
        <div class="col">
            <p>World War I · World War I or the First World War, often abbreviated as WWI or WW1, began on 28 July 1914 and ended on 11 November 1918</p>
        </div>
        <div class="col">
            <p>
                World War I · World War I or the First World War, often abbreviated as WWI or WW1, began on 28 July 1914 and ended on 11 November 1918
            </p>
        </div>
    </div>
</div>
</div>
