<main>
    <div class="filme-principal">
        <div class="container">
            <h3 class="titulo">{{ movie[0]!.name }}</h3>
            <p class="descricao">{{ movie[0]!.sinopse }}</p>
            <div class="botoes">
                <button role="button" class="botao" (click)="update()" >
                    <i class="fa fa-edit"></i>
                    ATUALIZAR
                </button>
                <button role="button" class="botao">
                    <i class="fas fa-info-circle"></i>
                    MAIS INFORMAÇÕES
                </button>
            </div>
        </div>
    </div>
</main>

<div class="carrosel-filmes">
    <div class="container">
        <div class="row">
            Avaliação: &#9733; &#9733; &#9733; &#9733; &#9733; &nbsp;&nbsp;&nbsp;&nbsp; Gênero: {{ movie[0]!.genre }}
        </div>
    </div>
</div>

<div class="carrosel-filmes">
    <div class="container" id="body">        
        <div class="row" >            
                <div class="col-sm-8">
                    <h3>Descrição</h3>
                    <p>{{ movie[0]!.description }}</p>
                </div>                        
        </div>

        <div class="row" id="ath">
            <div class="col-sm-4">
                <h3>Atore(s) Principal(is)</h3>
                <p>
                    {{ movie[0]!.authors }}
                </p>
            </div>
        </div>

    </div>
</div>
