<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Ator(es) principais</h2></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Adic. Novo</button>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome do Ator</th>                           
                <th>A&ccedil;&atilde;o</th>                           
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>  
                <td>
                    <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                </td>
            </tr>                        
        </tbody>
    </table>

</div>     
